name: Test my project

on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: laravel:12
      steps:
        - uses: actions/checkout@v3
          with:
            laravel-version:12
            - run: php artisan test



